@media all {html {font-size: 24px;}}
@media all and (max-width:1050px){html {font-size: 24px;}}
@media all and (max-width:1040.0px){html {font-size: 23.75px;}}
@media all and (max-width:1030.0px){html {font-size: 23.5px;}}
@media all and (max-width:1020.0px){html {font-size: 23.25px;}}
@media all and (max-width:1010.0px){html {font-size: 23.0px;}}
@media all and (max-width:1000.0px){html {font-size: 22.75px;}}
@media all and (max-width:990.0px){html {font-size: 22.5px;}}
@media all and (max-width:980.0px){html {font-size: 22.25px;}}
@media all and (max-width:970.0px){html {font-size: 22.0px;}}
@media all and (max-width:960.0px){html {font-size: 21.75px;}}
@media all and (max-width:950.0px){html {font-size: 21.5px;}}
@media all and (max-width:940.0px){html {font-size: 21.25px;}}
@media all and (max-width:930.0px){html {font-size: 21.0px;}}
@media all and (max-width:920.0px){html {font-size: 20.75px;}}
@media all and (max-width:910.0px){html {font-size: 20.5px;}}
@media all and (max-width:900.0px){html {font-size: 20.25px;}}
@media all and (max-width:890.0px){html {font-size: 20.0px;}}
@media all and (max-width:880.0px){html {font-size: 19.75px;}}
@media all and (max-width:870.0px){html {font-size: 19.5px;}}
@media all and (max-width:860.0px){html {font-size: 19.25px;}}
@media all and (max-width:850.0px){html {font-size: 19.0px;}}
@media all and (max-width:840.0px){html {font-size: 18.75px;}}
@media all and (max-width:830.0px){html {font-size: 18.5px;}}
@media all and (max-width:820.0px){html {font-size: 18.25px;}}
@media all and (max-width:810.0px){html {font-size: 18.0px;}}
@media all and (max-width:800.0px){html {font-size: 17.75px;}}
@media all and (max-width:790.0px){html {font-size: 17.5px;}}
@media all and (max-width:780.0px){html {font-size: 17.25px;}}
@media all and (max-width:770.0px){html {font-size: 17.0px;}}
@media all and (max-width:760.0px){html {font-size: 16.75px;}}
@media all and (max-width:750.0px){html {font-size: 16.5px;}}
@media all and (max-width:740.0px){html {font-size: 16.25px;}}
@media all and (max-width:730.0px){html {font-size: 16.0px;}}
@media all and (max-width:720.0px){html {font-size: 15.75px;}}
@media all and (max-width:710.0px){html {font-size: 15.5px;}}
@media all and (max-width:700.0px){html {font-size: 15.25px;}}
@media all and (max-width:690.0px){html {font-size: 15.0px;}}
@media all and (max-width:680.0px){html {font-size: 14.75px;}}
@media all and (max-width:670.0px){html {font-size: 14.5px;}}
@media all and (max-width:660.0px){html {font-size: 14.25px;}}
@media all and (max-width:650.0px){html {font-size: 14.0px;}}
@media all and (max-width:640.0px){html {font-size: 13.75px;}}
@media all and (max-width:630.0px){html {font-size: 13.5px;}}
@media all and (max-width:620.0px){html {font-size: 13.25px;}}
@media all and (max-width:610.0px){html {font-size: 13.0px;}}
@media all and (max-width:600.0px){html {font-size: 12.75px;}}
@media all and (max-width:590.0px){html {font-size: 12.5px;}}
@media all and (max-width:580.0px){html {font-size: 12.25px;}}
@media all and (max-width:570.0px){html {font-size: 12.0px;}}
@media all and (max-width:560.0px){html {font-size: 11.75px;}}
@media all and (max-width:550.0px){html {font-size: 11.5px;}}
@media all and (max-width:540.0px){html {font-size: 11.25px;}}
@media all and (max-width:530.0px){html {font-size: 11.0px;}}
@media all and (max-width:520.0px){html {font-size: 10.75px;}}
@media all and (max-width:510.0px){html {font-size: 10.5px;}}




@font-face{
    font-family: 'source-serif';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/ssp-extralight.woff') format('woff');
}

@font-face{
    font-family: 'source-serif';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/ssp-light.woff') format('woff');
}

@font-face{
    font-family: 'source-serif';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/ssp-regular.woff') format('woff');
}


* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;
  width: 100%;
}





a:hover, a:hover span {
  color: #c0c;
}

p a:hover {
    border-bottom: 1px solid #c0c;
}

p a, div a {
  color: #606;
  border-bottom: 1px solid #606;
}

p {
  margin-bottom: 0.7rem;
}

div.payload {
  padding: 0.25rem 2rem 0rem 1.7rem;
  border-left: 0.2rem solid #ccc;
  margin-bottom: 1rem;
  font-size: 85%;
  width: 90%;
}


div.bio {
  font-size: 85%;
  line-height: 1.45;
}

div.bio a{
  font-weight: bolder;
}


body {
  font-family: source-serif;
  font-weight: 300;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-width:1050px;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-feature-settings: 'liga' 1;
  background: #778 url('cubit.png') fixed;
  line-height: 1.4;
}

div#doc {
  background: white;
  padding: 2rem;
  padding-top: 3rem;
  border: 1px solid #ccc;
  border-top: 0px;
}

img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #778;
  border-left: 0;
  border-right: 0;
}

h1 {
  display: inline;
  font-size: 2rem;
  font-weight: 200;
  color: #778;
  margin-right: 0.25rem;
  position: relative;
  left: -0.25rem; }

h2 {
  display: inline;
  color: #778;
}


h3 {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #778;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.speaker-name {
  font-size: 1.6rem;
  font-weight: 200;
  color: #778;
  margin-right: 0.5rem;
  line-height: 1.4;
}

.keynote-speaker .speaker-name {
  font-size: 2rem;
  line-height: 1.2;
}

h3+div.speaker, h3+div.keynote-speaker {
  margin-top: -0.25rem;
}

.time {
  display: none;
  font-size: 1rem;
}

sponsor+sponsor:before, con+con:before, h2+h2:before {
  content: "\00A0\00A0·\00A0\00A0";
}

.codebox {
display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #778;
  border-left: 0;
  border-right: 0;
  line-height: 1.2;

  white-space: pre;
  font-family: "Menlo", "Consolas", "Courier New", monospace;
  font-size: 0.75rem;
  height: 20rem;
  overflow: auto;
  background-image: url("eero.svg");
  background-size: cover;
  background-repeat:no-repeat;
  width: 38rem;
  color: #778;
}

.opacity-control {
  padding: 0.5rem;
  opacity: 0;
  background: white;
}

.opacity-control:hover {
  opacity: 1;
}

.opacity-control, .opacity-control:hover {
  transition: opacity 0.25s;
}

span.title {
  border-bottom: 1px solid #606;
}

span.title:hover {
    border-bottom: 1px solid #c0c;
}

schedule {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

schedule > row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

schedule > row > at {
  width: 25%;
}

schedule > row + row {
  border-top: 1px solid #ccc;
}