.lop-system {
  background: lightgray;
  text-align: center;
  color: purple;
}

img.lop-image {
  float: left;
  margin-right: 20px;
  width: 350px; 
  height: 350px;
}

.nav-tabs {
    display:none;
}

@media(min-width: 768px) {
  .nav-tabs {
    display: flex;
  }
  .tab-title {
    display: none;
  }
}

